/* Text Color */
.text-primary-color {
    color: #0c2e8a;
}

.text-secondary-color {
    color: #50d8af;
}

/* Banner Background Image */
.banner-img-1 {
    background-image: url(images/carousel/1.jpg);
    background-repeat: no-repeat;
    height: 100vh;
}

.banner-img-2 {
    background-image: url(images/carousel/2.jpg);
    background-repeat: no-repeat;
    height: 100vh;
}

.banner-img-3 {
    background-image: url(images/carousel/3.jpg);
    background-repeat: no-repeat;
    height: 100vh;
}

.banner-img-4 {
    background-image: url(images/carousel/4.jpg);
    background-repeat: no-repeat;
    height: 100vh;
}

.banner-img-5 {
    background-image: url(images/carousel/5.jpg);
    background-repeat: no-repeat;
    height: 100vh;
}

/* Button Color */
.btn-primary-color {
    color: #ffffff;
    background-color: #0c2e8a;
}

.btn-secondary-color {
    color: #ffffff;
    background-color: #50d8af;
}

/* Card Image */
.clients-img {
    width: 150px;
}

/* Border Color */
.border-primary-color {
    border-color: #0c2e8a;
}

/* Background Color */
.bg-primary-color {
    background-color: #0c2e8a;
}